<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Twitter Tool</title>
    <meta name="author" content="Yoshihiro Ueda"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css" />
	
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-598676-10']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <!-- script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-598676-10");
        pageTracker._trackPageview();
      } catch(err) {}
    </script> -->
	
	
  </head>
  <body>
    <div ID="BODY">
      <div ID="title" style="width:1000px;">
        <div><%= image_tag ("/images/tweetimes.gif", :alt => "logo")  %></div>
        <div>
          <span style="text-align:left;float:left; width:240px;">
            <% link_to @url_linktext, :action => "login" %>
          </span>
          <span style="text-align:right;float:right;">Contact: <a href="mailto:yoshihiroueda@gmail.com">Yoshihiro Ueda</a></span>
        </div>
      </div>
      <h2>Poster Maker</h2>
      <ul>
        <li>皆さんPCに向かってばかりで会話が減ってませんか？</li>
        <li>このサイトでは、Twitterでのツイートを壁新聞の形にレイアウトします。</li>
        <li>印刷してタバコ部屋などの壁に貼って、リアルな場での話題のタネに使ってください。</li>
      </ul>
      <div>
        <p>画面表示 → その後 PDF</p>
        <% form_for @poster,  :url => {:controller=>"posters", :action => "format2"} do |f| %>
          <%= f.error_messages %>
          <p>
            <%= f.label :query %>
            <%= f.text_field :query %>
            <%= f.submit 'Show!', :method =>:get %>
          </p>
        <% end %>
<%#*<p>形式選択</p>%>
<%# form_for @poster,  :url => {:controller=>"posters", :action => "make"} do |f| %>
<%#= f.error_messages %>
<%#*<p>%>
<%#= f.label :query %>
<%#= f.text_field :query %>
<%#= f.submit 'Select Format', :method =>:post %>
<%#*</p>%>
<%# end %>
      </div>
      <h3>Frequently Shown</h3>
      <table>
        <tr>
          <th>Query</th>
          <th>Created (Tokyo)</th>
          <th align="right">Number Used</th>
        </tr>
        <% @posters.each do |poster| %>
          <tr>
            <td><%=h poster[:query] %></td>
            <td><%=h poster[:created_at].strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td align="right"><%=h poster[:count] %></td>
            <td><%= link_to '再表示', :controller=>"posters", :action => "format", :id => poster[:id] %></td>
            <td><%= link_to '再作成', :controller=>"posters", :action => "format", :q => poster[:query] %></td>
          </tr>
        <% end %>
      </table>
      <h3>Newly Created & Shown</h3>
      <table>
        <tr>
          <th>Query</th>
          <th>Created at (Tokyo)</th>
          <th>Shown at (Tokyo)</th>
        </tr>
        <% @recent.each do |poster| %>
          <tr>
            <td><%=h poster.query %></td>
            <td><%=h poster.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%=h poster.updated_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
            <td><%= link_to '再表示', :controller=>"posters", :action => "format", :id => poster.id %></td>
            <td><%= link_to '再作成', :controller=>"posters", :action => "format", :q => poster.query %></td>
          </tr>
        <% end %>
      </table>
    </div>



  </body>
</html>