<h1>Listing posters</h1>

<table>
  <tr>
    <th>User</th>
    <th>Query</th>
    <th>Mode</th>
    <th>Response.Code</th>
    <th>Date</th>
  </tr>

<% @posters.each do |poster| %>
  <tr>
    <td><%=h poster.user %></td>
    <td><%=h poster.query %></td>
    <td><%=h poster.mode %></td>
    <td><%=h poster.code %></td>
    <td><%=h poster.created_at %></td>
    <td><%= link_to 'Show', poster %></td>
    <td><%= link_to 'Edit', edit_poster_path(poster) %></td>
    <td><%= link_to 'Destroy', poster, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New poster', new_poster_path %>