<h1>Listing entries</h1>

<table>
  <tr>
    <th>Poster_id</th>
    <th>Author</th>
    <th>Authorurl</th>
    <th>Url</th>
    <th>Date</th>
  <th>Image</th>
   
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%=h entry.poster_id %></td>
    <td><%=h entry.author %></td>
    <td><%=h entry.authorurl %></td>
    <td><%=h entry.url %></td>
    <td><%=h entry.date %></td>
 <!-- <td><%=h entry.content %></td> -->
   <td><%=h entry.image %></td> 
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New entry', new_entry_path %>