<h1>Listing posters</h1>

<table>
  <tr>
    <th>Poster_id</th>
    <th>Date</th>
  </tr>

<% @logs.each do |log| %>
  <tr>
     <td><%=h log.poster_id %></td>
    <td><%=h log.created_at %></td>
    <td><%= link_to 'Show', log %></td>
    <td><%= link_to 'Edit', edit_log_path(log) %></td>
    <td><%= link_to 'Destroy', log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

